<p id="notice"><%= notice %></p>

<h3>
  <%= @entry.title %>
</h3>
<p>
  <b>Original Author:</b>
  <%= @entry.user.name %>
  <br />
  <b>Date:</b>
  <%= @entry.created_at.to_date %> 

  <% if @entry.created_at != @entry.updated_at %>
  	 | <b>Updated:</b>
  	<%= @entry.updated_at.to_date %>
   <% end %>
</p>

<hr />
<p>
  <%= render_markdown(@entry.body) %>
</p>
<hr />


<%= link_to 'Edit', edit_entry_path(@entry) %> |

<% if user_signed_in? %>
	<% if @entry.user == current_user or current_user.has_role? :admin %>
		<%= link_to 'Delete', @entry, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %> |
	<% end %>
<% end %>

<%= link_to 'Home', root_path %> 
<% if user_signed_in? %>
  | <%= link_to 'My Entries', entries_path %>
<% end %>

<hr />

<h5>Available Revisions</h5>
<table>

<% @revisions.each do |revision| %>
  
  <% if revision.entry == @entry %>

    <tr>
      <td><%= link_to revision.created_at, revision %></td>

    </tr>

  <% end %>
<% end %>
</table>