<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Body:</b>
  <%= @entry.body %>
</p>

<p>
  <b>Original Author:</b>
  <%= @entry.user.name %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |

<% if user_signed_in? %>
	<% if @entry.user == current_user or current_user.has_role? :admin %>
		<%= link_to 'Delete', @entry, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %> |
	<% end %>
<% end %>

<%= link_to 'Home', root_path %> |
<%= link_to 'My Entries', entries_path %>
