<h1>Listing all revisions of all entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Entry</th>
    <th>User</th>
    <th>Editor</th>
    <th></th>

  </tr>

<% @revisions.each do |revision| %>
  <tr>
    <td><%= revision.title %></td>
    <td><%= revision.body %></td>
    <td><%= revision.entry %></td>
    <td><%= revision.user %></td>
    <td><%= revision.editor %></td>
    <td><%= link_to 'Show', revision %></td>

  </tr>
<% end %>
</table>

<br />
